<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kgc.mapper.BookinfoMapper" >
  <resultMap id="BaseResultMap" type="com.kgc.entity.Bookinfo" >
    <id column="bookid" property="bookid" jdbcType="INTEGER" />
    <result column="bookcode" property="bookcode" jdbcType="VARCHAR" />
    <result column="bookname" property="bookname" jdbcType="VARCHAR" />
    <result column="booktype" property="booktype" jdbcType="VARCHAR" />
    <result column="bookauthor" property="bookauthor" jdbcType="VARCHAR" />
    <result column="publishpress" property="publishpress" jdbcType="VARCHAR" />
    <result column="publishdate" property="publishdate" jdbcType="DATE" />
    <result column="isborrow" property="isborrow" jdbcType="VARCHAR" />
    <result column="vreatedBy" property="vreatedby" jdbcType="VARCHAR" />
    <result column="creationTime" property="creationtime" jdbcType="DATE" />
    <result column="lastupdatetime" property="lastupdatetime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    bookid, bookcode, bookname, booktype, bookauthor, publishpress, publishdate, isborrow, 
    vreatedBy, creationTime, lastupdatetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.kgc.entity.BookinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bookinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bookinfo
    where bookid = #{bookid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bookinfo
    where bookid = #{bookid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.kgc.entity.BookinfoExample" >
    delete from bookinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.kgc.entity.Bookinfo" >
    insert into bookinfo (bookid, bookcode, bookname, 
      booktype, bookauthor, publishpress, 
      publishdate, isborrow, vreatedBy, 
      creationTime, lastupdatetime)
    values (#{bookid,jdbcType=INTEGER}, #{bookcode,jdbcType=VARCHAR}, #{bookname,jdbcType=VARCHAR}, 
      #{booktype,jdbcType=VARCHAR}, #{bookauthor,jdbcType=VARCHAR}, #{publishpress,jdbcType=VARCHAR}, 
      #{publishdate,jdbcType=DATE}, #{isborrow,jdbcType=VARCHAR}, #{vreatedby,jdbcType=VARCHAR}, 
      #{creationtime,jdbcType=DATE}, #{lastupdatetime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.kgc.entity.Bookinfo" >
    insert into bookinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bookid != null" >
        bookid,
      </if>
      <if test="bookcode != null" >
        bookcode,
      </if>
      <if test="bookname != null" >
        bookname,
      </if>
      <if test="booktype != null" >
        booktype,
      </if>
      <if test="bookauthor != null" >
        bookauthor,
      </if>
      <if test="publishpress != null" >
        publishpress,
      </if>
      <if test="publishdate != null" >
        publishdate,
      </if>
      <if test="isborrow != null" >
        isborrow,
      </if>
      <if test="vreatedby != null" >
        vreatedBy,
      </if>
      <if test="creationtime != null" >
        creationTime,
      </if>
      <if test="lastupdatetime != null" >
        lastupdatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bookid != null" >
        #{bookid,jdbcType=INTEGER},
      </if>
      <if test="bookcode != null" >
        #{bookcode,jdbcType=VARCHAR},
      </if>
      <if test="bookname != null" >
        #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="booktype != null" >
        #{booktype,jdbcType=VARCHAR},
      </if>
      <if test="bookauthor != null" >
        #{bookauthor,jdbcType=VARCHAR},
      </if>
      <if test="publishpress != null" >
        #{publishpress,jdbcType=VARCHAR},
      </if>
      <if test="publishdate != null" >
        #{publishdate,jdbcType=DATE},
      </if>
      <if test="isborrow != null" >
        #{isborrow,jdbcType=VARCHAR},
      </if>
      <if test="vreatedby != null" >
        #{vreatedby,jdbcType=VARCHAR},
      </if>
      <if test="creationtime != null" >
        #{creationtime,jdbcType=DATE},
      </if>
      <if test="lastupdatetime != null" >
        #{lastupdatetime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.kgc.entity.BookinfoExample" resultType="java.lang.Integer" >
    select count(*) from bookinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bookinfo
    <set >
      <if test="record.bookid != null" >
        bookid = #{record.bookid,jdbcType=INTEGER},
      </if>
      <if test="record.bookcode != null" >
        bookcode = #{record.bookcode,jdbcType=VARCHAR},
      </if>
      <if test="record.bookname != null" >
        bookname = #{record.bookname,jdbcType=VARCHAR},
      </if>
      <if test="record.booktype != null" >
        booktype = #{record.booktype,jdbcType=VARCHAR},
      </if>
      <if test="record.bookauthor != null" >
        bookauthor = #{record.bookauthor,jdbcType=VARCHAR},
      </if>
      <if test="record.publishpress != null" >
        publishpress = #{record.publishpress,jdbcType=VARCHAR},
      </if>
      <if test="record.publishdate != null" >
        publishdate = #{record.publishdate,jdbcType=DATE},
      </if>
      <if test="record.isborrow != null" >
        isborrow = #{record.isborrow,jdbcType=VARCHAR},
      </if>
      <if test="record.vreatedby != null" >
        vreatedBy = #{record.vreatedby,jdbcType=VARCHAR},
      </if>
      <if test="record.creationtime != null" >
        creationTime = #{record.creationtime,jdbcType=DATE},
      </if>
      <if test="record.lastupdatetime != null" >
        lastupdatetime = #{record.lastupdatetime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bookinfo
    set bookid = #{record.bookid,jdbcType=INTEGER},
      bookcode = #{record.bookcode,jdbcType=VARCHAR},
      bookname = #{record.bookname,jdbcType=VARCHAR},
      booktype = #{record.booktype,jdbcType=VARCHAR},
      bookauthor = #{record.bookauthor,jdbcType=VARCHAR},
      publishpress = #{record.publishpress,jdbcType=VARCHAR},
      publishdate = #{record.publishdate,jdbcType=DATE},
      isborrow = #{record.isborrow,jdbcType=VARCHAR},
      vreatedBy = #{record.vreatedby,jdbcType=VARCHAR},
      creationTime = #{record.creationtime,jdbcType=DATE},
      lastupdatetime = #{record.lastupdatetime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.kgc.entity.Bookinfo" >
    update bookinfo
    <set >
      <if test="bookcode != null" >
        bookcode = #{bookcode,jdbcType=VARCHAR},
      </if>
      <if test="bookname != null" >
        bookname = #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="booktype != null" >
        booktype = #{booktype,jdbcType=VARCHAR},
      </if>
      <if test="bookauthor != null" >
        bookauthor = #{bookauthor,jdbcType=VARCHAR},
      </if>
      <if test="publishpress != null" >
        publishpress = #{publishpress,jdbcType=VARCHAR},
      </if>
      <if test="publishdate != null" >
        publishdate = #{publishdate,jdbcType=DATE},
      </if>
      <if test="isborrow != null" >
        isborrow = #{isborrow,jdbcType=VARCHAR},
      </if>
      <if test="vreatedby != null" >
        vreatedBy = #{vreatedby,jdbcType=VARCHAR},
      </if>
      <if test="creationtime != null" >
        creationTime = #{creationtime,jdbcType=DATE},
      </if>
      <if test="lastupdatetime != null" >
        lastupdatetime = #{lastupdatetime,jdbcType=DATE},
      </if>
    </set>
    where bookid = #{bookid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kgc.entity.Bookinfo" >
    update bookinfo
    set bookcode = #{bookcode,jdbcType=VARCHAR},
      bookname = #{bookname,jdbcType=VARCHAR},
      booktype = #{booktype,jdbcType=VARCHAR},
      bookauthor = #{bookauthor,jdbcType=VARCHAR},
      publishpress = #{publishpress,jdbcType=VARCHAR},
      publishdate = #{publishdate,jdbcType=DATE},
      isborrow = #{isborrow,jdbcType=VARCHAR},
      vreatedBy = #{vreatedby,jdbcType=VARCHAR},
      creationTime = #{creationtime,jdbcType=DATE},
      lastupdatetime = #{lastupdatetime,jdbcType=DATE}
    where bookid = #{bookid,jdbcType=INTEGER}
  </update>
</mapper>